<p><%=f.text_field(:guifi_squid_realm)%> <%=help(:help_guifi_squid_realm)%></p>
<p><%=f.text_field(:guifi_squid_port)%></p>
<p><%=f.text_field(:guifi_squid_lan)%> <%=help(:help_guifi_squid_lan)%></p>
